{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>

  <!-- At the top of your HTML file -->

<link rel="stylesheet" href="./static/css/index.css">


</head>
<body>

  <div class="navbar">
    <div class="brand">
      🚗 ParkSpotter
    </div>
    <div class="nav-links">
      <a href="{% url 'index' %}">Dashboard</a>
      <a href="">Detect Vehicle</a>
      <a href="{% url 'new_entry' %}">New Entry</a>
      <a href="{% url 'earning_report' %}">Earnings Report</a>
    </div>
    <div class="user-info">
      <span>Hi 👋, User</span>
     <a href="./login.html"> <button class="logout-btn">Logout</button></a>
    </div>
  </div>
