<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <script src=""></script>
</head>
<body> 
    <div class="container"> 
        <div class="login-box">
          <h1>🔒Employee Login🔒</h1> 
        <form>
            <label for="inputusername"><b>Username:</b></label>
            <input type="text" id="inputusername" placeholder="Enter username" required/>
        <br /><br />
            <label for="inputpassword"><b>Password:</b></label>
            <input type="password" id="inputpassword" placeholder="Enter password" required/>
        <br /><br />
        <div class="register-link">Don't have an account? <a href="">Register Now</a></div>
        <button type="submit" class="btn"><a href="{% url 'dashboard' %}">Login</a></button>
        </form> 
        </div>
    </div>
</body>
</html>