{% extends 'base.html' %}

{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Entry</title>
    <link rel="stylesheet" href="{% static 'css/new_entry.css' %}">
   
</head>
<body>
    
    <div class="container">
        <div class="form-header">
            <div class="icon"></div>
            <h1>Manual Vehicle Entry</h1>
        </div>
        <form id="vehicleEntryform" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="plateNumber">Plate number:</label>
                <input type="text" id="plateNumber" class="form-control" placeholder="Enter plate number">
            </div>
             <div class="vehicle-type-section">
                <label style="font-weight: 500; font-size: 14px; color: #666;">Vehicle type:</label>
                <div>
                    <input type="radio" id="car" name="vehicleType" value="Car">
                    <label for="car">Car</label>
                    <input type="radio" id="bike" name="vehicleType" value="Bike">
                    <label for="bike">Bike</label>
                    <input type="radio" id="Bus" name="vehicleType" value="Bus">
                    <label for="Bus">Bus</label>
                </div>
            </div>
             <div class="form-group">
                <label for="entryTime">Entry time:</label>
                <div class="datetime-group">
                    <input type="datetime-local" id="entryTime" class="form-control datetime-input" value="2025-06-19T11:57">
                    <div class="calendar-icon"></div>
                </div>
            </div>
            
             <div class="checkbox-group">
                <label for="isPaid" class="checkbox-label">Is paid:</label>
                <input type="checkbox" id="isPaid" class="checkbox">
                
            </div>
             <div class="divider"></div>

            <button id="submit" type="submit" class="add-entry-btn">Add Entry</button>
        </form>
    </div>
     <script src="{% static 'js/new_entry.js' %}"></script>
     
</body>
</html>
{% endblock %}