{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt</title>
    <link rel="stylesheet" href="../static/css/recipt.css">
     
</head>
<body>
  {% include 'header.html' %}
  <div class="navbar">
    <div class="brand">🚗 Smart Parking</div>
    <div class="nav-links">
      <a href="#">Dashboard</a>
      <a href="#">Detect Vehicle</a>
      <a href="#">New Entry</a>
      <a href="#">Earnings Report</a>
    </div>
    <div class="right">
      <span>Hi 👋, rohit</span>
      <button class="logout">Logout</button>
    </div>
  </div>


  <div class="container">
    <div class="card">
      <div class="card-header">Parking Receipt</div>
      <div class="card-body">
        <div class="row"><div class="key">Plate Number:</div><input id="plate" type="text" placeholder="Enter Plate Number"></div>
        <div class="row"><div class="key">Vehicle Type:</div><input id="vehicle" type="text" placeholder="Enter Vehicle Type"></div>
        <div class="row"><div class="key">Entry Time:</div><input id="entry" type="datetime-local"></div>
        <div class="row"><div class="key">Exit Time:</div><input id="exit" type="datetime-local"></div>
        <div class="row"><div class="key">Duration:</div><input id="duration" type="text" readonly></div>
        <div class="row"><div class="key">Total Charge:</div><input id="charge" type="text" readonly></div>
        <div class="row"><div class="key">Payment Status:</div><input id="status" type="text" placeholder="Enter Status (PAID/UNPAID)"></div>

        <button class="btn" onclick="submitForm()">💾 Save Receipt</button>
        <button class="btn btn-secondary" onclick="savePDF()">📄 Save as PDF</button>
        <button class="btn btn-back" onclick="goDashboard()">⬅ Back to Dashboard</button>
      </div>
    </div>
  </div> 
  <script src="{% static 'js/receipt.js' %}"></script>
</body>
</html>