{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt</title>
    <link rel="stylesheet" href="../static/css/recipt.css">
     
</head>
<body>
  <div class="receipt">
     <div class="header">
            <div class="company-name">SECURE PARKING</div>
            <div class="company-address">
                123 Downtown Plaza<br>
                City Center, State 12345<br>
                Phone: (555) 123-4567
            </div>
            <div class="receipt-title">Parking Receipt</div>
        </div>
  </div>
  <script src="{% static 'js/receipt.js' %}"></script>

</body>
</html>
{% endblock %}